@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;600&display=swap');

body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42859;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    margin: 0;
    height: 100vh;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #999;
    border: none;
}

h1 {
    font-size: 40px;
    line-height: 1.1em;
    margin: .5em 0;
}

h2 {
    font-size: 18px;
    line-height: 1.3em;
    margin: .5em 0;
}

h2.subtitle {
    font-weight: 400;
}

h3 {
    font-size: 12px;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }
}